<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ComMet</title>

  <link rel="stylesheet" href="./assets/css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />


  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700&amp;subset=cyrillic" rel="stylesheet">

</head>
<body>

  <div id="app" class="app">
    <div class="loaderBg" v-if='isAppLoad'>
      <div class="screenLoader">
        <div class="screenLoader screenLoader-inner"></div>
      </div>
    </div>
    <header class="header"  v-if='!isAppLoad'>

      <div class="container-nav" >

        <nav class="nav" >
          <div class="nav__brand">
            <router-link exact-active-class="disablelink" active-class="disablelink" to="/"><img id="logo" class="logo" alt="logo" src="<%=require('./assets/images/logo.png')%>"></router-link>
          </div>
          <div class="nav__list">
            <ul id='navigation' class="navigation" @click='closeMenu'>
              <li  v-if="isUserAuthorized"><router-link class="navigation__item"  :to="{path: '/Profile/'+currentUser}">{{$lang.navigation.my_profile}}</router-link></li>
              <li  v-if="!isUserAuthorized"><router-link class="navigation__item" to="/" exact>{{$lang.navigation.main}}</router-link></li>
              <li  v-if="isUserAuthorized"><router-link class="navigation__item" to="/Events">{{$lang.navigation.events}}</router-link></li>
              <li  v-if="isUserAuthorized"><router-link class="navigation__item" to="/Event/Create">{{$lang.navigation.create_event}}</router-link></li>
              <li  v-if="!isUserAuthorized" class=" navigation__item navigation__item-login navigation__item-mobile"><router-link class="navigation__item" to="/login/signIn">{{$lang.navigation.login}}</router-link></li>
              <li  v-if="isUserAuthorized" class="navigation__item navigation__item-login navigation__item-mobile" @click="logOutUser">{{$lang.navigation.logout}}</li>
              <li  id="langDropDown" class="navDropdown" @click="toggleLangDropDown">{{$lang.global.lang}} <i class="fas fa-caret-down"></i>
                <ul id="langDropDownList" class="navDropdown__list" v-show="isLangDropDown">
                  <li class="navDropdown__item" @click="changeLang('en')">English</li>
                  <li class="navDropdown__item" @click="changeLang('ua')">Українська</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav__search" v-if="isUserAuthorized">

            <input id="glSearchInput" class="input input-roundBorder input-center" type="text" name="ComMetSearch"
               v-model="globalSearchQuery"
               v-on:input="globalSearch"
               v-on:focus="isGlobalSearch = true">
            <span class="loader loader-glsearch" v-if="glSearchLoader"></span>
            <i class="fas fa-search input__icon" v-else></i>
            <div id="glSearchDropList" class="searchDrop searchDrop-rounded" v-if="isGlobalSearch">
              <ul  class="searchDrop__list" v-if="glSearchUsersResult.length > 0">
                <!-- <li class="searchDrop__item searchDrop__item-w100" v-if="searchCityResult.length == 0 && !searchLoader">No results</li> -->
                <!-- <li class="searchDrop__item searchDrop__item-w100" v-for="result in glSearchUsersResult">{{result.username}}</li> -->
                <router-link class="searchDrop__item searchDrop__item-usersLink searchDrop__item-w100"
                v-for="result in glSearchUsersResult"
                :key="result.id"
                :to="{ name: 'user', params: { username:result.username } }"
                v-on:click.native="clearSearch"
                >
                <div
                  class="roundImage roundImage-members"
                  :style="{ 'backgroundImage': 'url(\'' + getAvatarImage(result.avatar) + '\')' }">
                </div>
                <h3 class="fullName fullName-search">{{result.first_name}} {{result.last_name}} </h3>
                <span class="username username-search">@{{result.username}}</span>

              </router-link>
              </ul>
              <ul  class="searchDrop__list" v-if="glSearchEventsResult.length > 0">
                <!-- <li class="searchDrop__item searchDrop__item-w100" v-if="searchCityResult.length == 0 && !searchLoader">No results</li> -->
                <!-- <li class="searchDrop__item searchDrop__item-w100" v-for="result in ">{{result.username}}</li> -->
                <router-link class="searchDrop__item searchDrop__item-eventsLink searchDrop__item-w100"
                  v-for="result in glSearchEventsResult"
                  :key="result.id"
                  :to="{ name: 'eventPage', params: { id:result.id } }"
                  v-on:click.native="clearSearch"
                  >

                  <h3 class="fullName fullName-search">{{result.name}}</h3>
                  <span class="username username-search"> <i class="far fa-calendar-alt"></i> {{result.date_expire}}</span>
                </router-link>
              </ul>
            </div>
          </div>
          <div class="nav__list nav__list-right ">
            <ul id='navigation' class="navigation navigation-right" @click='closeMenu'>
              <li  v-if="!isUserAuthorized" class=" navigation__item navigation__item-login"><router-link class="navigation__item" to="/login/signIn">{{$lang.navigation.login}}</router-link></li>
              <li  v-if="isUserAuthorized" class="navigation__item navigation__item-login" @click="logOutUser">{{$lang.navigation.logout}}</li>
            </ul>

          </div>
          <span id="toggler" class="nav__toggler" @click='openMenu()'><i id="menuIcon" class="fas fa-ellipsis-v"></i></span>
        </nav>
      </div>
    </header>
    <main class="main">
      <transition name="routerSlide">
        <router-view  v-if='!isAppLoad'></router-view>
      </transition>
    </main>

    <!-- <div class="versionMsg">This project is under development. This is just a test version</div> -->
  </div>
</body>
</html>
